@import '@fontsource/inter/variable-full.css';

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('fonts/computer-modern.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply antialiased;
	font-feature-settings: 'case', 'ccmp', 'cc01', 'cc02';
}
input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
	@apply block rounded-md border border-gray-400 shadow-sm px-4 py-2 bg-clip-padding text-gray-900 text-base transition break-words w-full;
}
input:not([type]):focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='datetime']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
select:focus,
textarea:focus {
	@apply ring ring-blue-200;
}
input:not([type])[disabled],
input[type='color'][disabled],
input[type='date'][disabled],
input[type='datetime-local'][disabled],
input[type='datetime'][disabled],
input[type='email'][disabled],
input[type='month'][disabled],
input[type='number'][disabled],
input[type='password'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='time'][disabled],
input[type='url'][disabled],
input[type='week'][disabled],
select[disabled],
textarea[disabled] {
	@apply bg-gray-100 text-gray-400;
}
/* input[readonly],
select[readonly],
textarea[readonly] {
	border-color: var(--dividers);
	color: var(--secondary);
} */
input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
	@apply ring ring-red-200;
}
input[type='checkbox']:focus:invalid:focus,
input[type='file']:focus:invalid:focus,
input[type='radio']:focus:invalid:focus {
	@apply ring ring-red-200;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@apply cursor-pointer font-semibold bg-gray-100 text-gray-800 border border-gray-300 rounded-md py-2 px-4 shadow-sm select-none transition whitespace-nowrap align-middle;
}
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	padding: 0;
}
button:not(:disabled):hover,
input[type='button']:not(:disabled):hover,
input[type='reset']:not(:disabled):hover,
input[type='submit']:not(:disabled):hover {
	@apply bg-gray-200;
}

button:not(:disabled):active,
input[type='button']:not(:disabled):active,
input[type='reset']:not(:disabled):active,
input[type='submit']:not(:disabled):active {
	@apply bg-gray-200 shadow-inner;
}
button:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
	@apply text-gray-400;
}
caption {
	padding: var(--sm-pad 0);
}
