@import '@fontsource/inter/variable-full.css';

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('fonts/computer-modern.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply antialiased;
	font-feature-settings: 'case', 'ccmp', 'cc01', 'cc02';
}

input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
	@apply block rounded-md border border-gray-400 shadow-sm px-4 py-2 bg-clip-padding text-gray-900 text-base transition break-words w-full;
}

/* input:not([type]) {
	-webkit-appearance: none;
	background: var(--white);
	background-clip: padding-box;
	color: var(--text);
	display: block;
	line-height: 1.5;
	padding: var(--sm-pad) var(--md-pad);
	text-align: left;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 100%;
	word-break: normal;
} */
input:not([type]):focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='datetime']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
select:focus,
textarea:focus {
	@apply ring ring-blue-200;
}
/* input[type='checkbox']:focus,
input[type='file']:focus,
input[type='radio']:focus {
	outline: 1px thin var(--dividers);
} */
input:not([type])[disabled],
input[type='color'][disabled],
input[type='date'][disabled],
input[type='datetime-local'][disabled],
input[type='datetime'][disabled],
input[type='email'][disabled],
input[type='month'][disabled],
input[type='number'][disabled],
input[type='password'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='time'][disabled],
input[type='url'][disabled],
input[type='week'][disabled],
select[disabled],
textarea[disabled] {
	@apply bg-gray-100 text-gray-400;
}
/* input[readonly],
select[readonly],
textarea[readonly] {
	border-color: var(--dividers);
	color: var(--secondary);
} */
input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
	@apply ring ring-red-200;
}
input[type='checkbox']:focus:invalid:focus,
input[type='file']:focus:invalid:focus,
input[type='radio']:focus:invalid:focus {
	@apply ring ring-red-200;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@apply cursor-pointer font-semibold bg-gray-100 text-gray-800 border border-gray-300 rounded-md py-2 px-4 shadow-sm select-none transition whitespace-nowrap align-middle;
}
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	padding: 0;
}
button:not(:disabled):hover,
input[type='button']:not(:disabled):hover,
input[type='reset']:not(:disabled):hover,
input[type='submit']:not(:disabled):hover {
	@apply bg-gray-200;
}

button:not(:disabled):active,
input[type='button']:not(:disabled):active,
input[type='reset']:not(:disabled):active,
input[type='submit']:not(:disabled):active {
	@apply bg-gray-200 shadow-inner;
}
/* button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
	@apply outline-none ring ring-yellow-500;
} */
button:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
	@apply text-gray-400;
}
caption {
	padding: var(--sm-pad 0);
}

/* :root {
	--color-fill: #fff;
	--color-fill-secondary: #fbfbfd;
	--color-fill-tertiary: #f5f5f7;
	--color-fill-quaternary: #252525;
	--color-fill-blue: #0071e3;
	--color-fill-blue-secondary: #f6fbff;
	--color-fill-gray: #1d1d1f;
	--color-fill-gray-secondary: #86868b;
	--color-fill-gray-tertiary: #d2d2d7;
	--color-fill-gray-quaternary: #e8e8ed;
	--color-fill-green-secondary: #f5fff6;
	--color-fill-light-blue-secondary: #f1f7ff;
	--color-fill-light-gray-secondary: #f5f5f7;
	--color-fill-orange-secondary: #fff9f4;
	--color-fill-purple-secondary: #fcf8ff;
	--color-fill-red-secondary: #fff2f4;
	--color-fill-teal-secondary: #faffff;
	--color-fill-yellow-secondary: #fffef2;
	--color-figure-blue: #06c;
	--color-figure-gray: #1d1d1f;
	--color-figure-gray-secondary: #6e6e73;
	--color-figure-gray-secondary-alt: #515154;
	--color-figure-gray-tertiary: #86868b;
	--color-figure-green: #008009;
	--color-figure-light-blue: #4ca9ff;
	--color-figure-light-gray: #696969;
	--color-figure-orange: #bf4800;
	--color-figure-pink: #b0b;
	--color-figure-purple: #8c28c2;
	--color-figure-red: #e30000;
	--color-figure-teal: #007c78;
	--color-figure-yellow: #936d00;
	--color-highlight-green: #e4fee6;
	--color-highlight-red: #f8dddd;
}
@media screen {
	:root[data-color-scheme='dark'] {
		--color-fill: #000;
		--color-fill-secondary: #161617;
		--color-fill-tertiary: #1d1d1f;
		--color-fill-blue: #0071e3;
		--color-fill-blue-secondary: #001931;
		--color-fill-gray: #f5f5f7;
		--color-fill-gray-secondary: #6e6e73;
		--color-fill-gray-tertiary: #424245;
		--color-fill-gray-quaternary: #333336;
		--color-fill-green-secondary: #002b03;
		--color-fill-light-blue-secondary: #002a51;
		--color-fill-light-gray-secondary: #323232;
		--color-fill-orange-secondary: #290d00;
		--color-fill-purple-secondary: #190325;
		--color-fill-red-secondary: #300;
		--color-fill-teal-secondary: #002d2b;
		--color-fill-yellow-secondary: #2b2000;
		--color-figure-blue: #2997ff;
		--color-figure-gray: #f5f5f7;
		--color-figure-gray-secondary: #86868b;
		--color-figure-gray-secondary-alt: #a1a1a6;
		--color-figure-gray-tertiary: #6e6e73;
		--color-figure-green: #03a10e;
		--color-figure-light-blue: #7dc1ff;
		--color-figure-light-gray: #9a9a9e;
		--color-figure-orange: #f56300;
		--color-figure-pink: #f14bf1;
		--color-figure-purple: #a95ed2;
		--color-figure-red: #ff3037;
		--color-figure-teal: #00c2bb;
		--color-figure-yellow: #ad8200;
		--color-highlight-green: #032603;
		--color-highlight-red: #410606;
	}
}
@media screen and (prefers-color-scheme: dark) {
	:root[data-color-scheme='auto'] {
		--color-fill: #000;
		--color-fill-secondary: #161617;
		--color-fill-tertiary: #1d1d1f;
		--color-fill-blue: #0071e3;
		--color-fill-blue-secondary: #001931;
		--color-fill-gray: #f5f5f7;
		--color-fill-gray-secondary: #6e6e73;
		--color-fill-gray-tertiary: #424245;
		--color-fill-gray-quaternary: #333336;
		--color-fill-green-secondary: #002b03;
		--color-fill-light-blue-secondary: #002a51;
		--color-fill-light-gray-secondary: #323232;
		--color-fill-orange-secondary: #290d00;
		--color-fill-purple-secondary: #190325;
		--color-fill-red-secondary: #300;
		--color-fill-teal-secondary: #002d2b;
		--color-fill-yellow-secondary: #2b2000;
		--color-figure-blue: #2997ff;
		--color-figure-gray: #f5f5f7;
		--color-figure-gray-secondary: #86868b;
		--color-figure-gray-secondary-alt: #a1a1a6;
		--color-figure-gray-tertiary: #6e6e73;
		--color-figure-green: #03a10e;
		--color-figure-light-blue: #7dc1ff;
		--color-figure-light-gray: #9a9a9e;
		--color-figure-orange: #f56300;
		--color-figure-pink: #f14bf1;
		--color-figure-purple: #a95ed2;
		--color-figure-red: #ff3037;
		--color-figure-teal: #00c2bb;
		--color-figure-yellow: #ad8200;
		--color-highlight-green: #032603;
		--color-highlight-red: #410606;
	}
}

*,
:after,
:before {
	background-repeat: no-repeat;
	box-sizing: border-box;
}
:after,
:before {
	text-decoration: inherit;
	vertical-align: inherit;
}
:where(:root) {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	cursor: default;
	line-height: 1.5;
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
:where(body) {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:where(h1) {
	font-size: 2em;
	margin: 0.67em 0;
}
:where(dl, ol, ul) :where(dl, ol, ul) {
	margin: 0;
}
:where(hr) {
	color: inherit;
	height: 0;
}
:where(nav) :where(ol, ul) {
	list-style-type: none;
	padding: 0;
}
:where(nav li):before {
	content: '\200B';
	float: left;
}
:where(nav li) {
	display: inline;
	padding: 0 0.25em;
}
:where(pre) {
	font-family: monospace, monospace;
	font-size: 1em;
	overflow: auto;
}
:where(abbr[title]) {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
:where(b, strong) {
	font-weight: bolder;
}
:where(code, kbd, samp) {
	font-family: monospace, monospace;
	font-size: 1em;
}
:where(small) {
	font-size: 80%;
}
:where(audio, canvas, iframe, img, svg, video) {
	vertical-align: middle;
}
:where(iframe) {
	border-style: none;
}
:where(svg:not([fill])) {
	fill: currentColor;
}
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
	text-indent: 0;
}
:where(button, input, select) {
	margin: 0;
}
:where(button, [type='button' i], [type='reset' i], [type='submit' i]) {
	-webkit-appearance: button;
}
:where(fieldset) {
	border: 1px solid #a0a0a0;
}
:where(progress) {
	vertical-align: baseline;
}
:where(textarea) {
	margin: 0;
	resize: vertical;
}
:where([type='search' i]) {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
:where(dialog) {
	background-color: #fff;
	border: solid;
	color: #000;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}
:where(dialog:not([open])) {
	display: none;
}
:where(details > summary:first-of-type) {
	display: list-item;
}
:where([aria-busy='true' i]) {
	cursor: progress;
}
:where([aria-disabled='true' i], [disabled]) {
	cursor: not-allowed;
}
:where([aria-hidden='false' i][hidden]) {
	display: initial;
}
:where([aria-hidden='false' i][hidden]:not(:focus)) {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}
:root {
	--br: 4px;
	--xs-pad: 4px;
	--sm-pad: 8px;
	--md-pad: 16px;
	--lg-pad: 20px;
	--xlg-pad: 40px;
	--sm-breakpoint: 400px;
	--lg-breakpoint: 768px;
	--primary-400: #3291ff;
	--primary: var(--color-fill-blue);
	--primary-600: var(--color-figure-blue);
	--accent: #64ffda;
	--red: #e00;
	--red-600: #c50000;
	--green: #2f9e44;
	--yellow: #f5a623;
	--grey: var(--color-fill-secondary);
	--white: #fff;
	--black: #000;
	--text: var(--black);
	--secondary: #888;
	--disabled: #999;
	--dividers: #eaeaea;
	--link-color: var(--primary);
	--link-hover-color: var(--primary-400);
	--sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--serif: Georgia, Times, 'Times New Roman', serif;
	--monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
	--font-family: var(--sans-serif);
	--font-size-base: 1rem;
	--font-size-sm: 0.8rem;
	--font-size-h1: 3rem;
	--font-size-h2: 1.1rem;
	--font-size-h3: 1.17rem;
	--font-size-h4: 1rem;
	--font-size-h5: 0.83rem;
	--font-size-h6: 0.67rem;
	--line-height-base: 1.5;
	--border: 1px solid var(--dividers);
}
article,
aside,
details,
footer,
header,
main,
section,
summary {
	margin: 0 auto;
	margin-bottom: var(--md-pad);
	width: 100%;
}
main {
	display: block;
	margin: 0 auto;
	max-width: var(--lg-breakpoint);
	padding: 0 var(--md-pad) var(--md-pad);
}
footer {
	border-top: var(--border);
	padding: var(--md-pad) 0;
	text-align: center;
}
footer p {
	margin-bottom: 0;
}
hr {
	border: 0;
	border-top: var(--border);
	box-sizing: content-box;
	display: block;
	height: 0;
	margin-bottom: var(--md-pad);
	margin-top: var(--md-pad);
	overflow: visible;
	width: 100%;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: baseline;
}
@media screen and (max-width: var(--sm-breakpoint)) {
	article,
	aside,
	section {
		clear: both;
		display: block;
		max-width: 100%;
	}
	img {
		margin-right: var(--md-pad);
	}
}
embed,
iframe,
video {
	border: 0;
}
body {
	color: var(--text);
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}
p {
	margin: 0;
	margin-bottom: var(--lg-pad);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-family: inherit;
	font-weight: 600;
	line-height: 1.05;
}
h1 {
	font-size: var(--font-size-h1);
	letter-spacing: calc(var(--font-size-h1) * -0.02);
	font-weight: 700;
	margin: var(--xlg-pad) 0 var(--lg-pad);
}
h2 {
	font-size: var(--font-size-h2);
	letter-spacing: calc(var(--font-size-h2) * -0.01);
	margin: var(--xlg-pad) 0 var(--sm-pad);
}
h3 {
	font-size: var(--font-size-h3);
}
h3,
h4 {
	margin: var(--md-pad) 0 var(--xs-pad);
}
h4 {
	font-size: var(--font-size-h4);
}
h5 {
	font-size: var(--font-size-h5);
	margin: var(--md-pad 0) var(--xs-pad);
}
h6 {
	font-size: var(--font-size-h6);
	margin: var(--md-pad) 0 var(--xs-pad);
}
small {
	color: var(--secondary);
	vertical-align: bottom;
}
pre {
	background-color: var(--grey);
	display: block;
	margin: var(--md-pad 0);
	overflow-wrap: break-word;
	padding: var(--md-pad);
	white-space: pre-wrap;
	border-radius: var(--br);
}
code,
pre {
	color: var(--text);
	font-family: var(--monospace);
	font-size: var(--font-size-sm);
}
code {
	word-wrap: break-word;
	line-height: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	word-break: break-all;
}
a {
	background-color: transparent;
	color: var(--link-color);
	text-decoration: none;
}
a:focus,
a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}
dl {
	margin-bottom: var(--md-pad);
}
dd {
	margin-left: var(--xlg-pad);
}
ol,
ul {
	margin-bottom: var(--sm-pad);
	padding-left: var(--xlg-pad);
	vertical-align: baseline;
}
blockquote {
	border-left: 2px solid var(--text);
	font-style: italic;
	margin: var(--md-pad 0);
	padding-left: var(--md-pad);
}
blockquote,
figcaption {
	font-family: var(--serif);
}
u {
	text-decoration: underline;
}
s {
	text-decoration: line-through;
}
sup {
	vertical-align: super;
}
sub,
sup {
	font-size: var(--font-size-sm);
}
sub {
	vertical-align: sub;
}
mark {
	background-color: var(--yellow);
}
input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
	background: var(--white);
	background-clip: padding-box;
	border: var(--border);
	border-radius: var(--br);
	color: var(--text);
	display: block;
	font-family: var(--sans-serif);
	font-size: 1rem;
	line-height: 1.5;
	padding: var(--sm-pad) var(--md-pad);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 100%;
	word-break: normal;
}
input[type='color'] {
	background-color: var(--white);
	display: inline-block;
	vertical-align: middle;
}
input:not([type]),
input[type='color'] {
	border: var(--border);
	border-radius: var(--br);
}
input:not([type]) {
	-webkit-appearance: none;
	background: var(--white);
	background-clip: padding-box;
	color: var(--text);
	display: block;
	line-height: 1.5;
	padding: var(--sm-pad) var(--md-pad);
	text-align: left;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 100%;
	word-break: normal;
}
input:not([type]):focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='datetime']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
select:focus,
textarea:focus {
	background-color: var(--white);
	border-color: var(--primary-400);
	box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5);
	outline: 0;
}
input[type='checkbox']:focus,
input[type='file']:focus,
input[type='radio']:focus {
	outline: 1px thin var(--dividers);
}
input:not([type])[disabled],
input[type='color'][disabled],
input[type='date'][disabled],
input[type='datetime-local'][disabled],
input[type='datetime'][disabled],
input[type='email'][disabled],
input[type='month'][disabled],
input[type='number'][disabled],
input[type='password'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='time'][disabled],
input[type='url'][disabled],
input[type='week'][disabled],
select[disabled],
textarea[disabled] {
	background-color: var(--dividers);
	color: var(--secondary);
	cursor: not-allowed;
	opacity: 1;
}
input[readonly],
select[readonly],
textarea[readonly] {
	border-color: var(--dividers);
	color: var(--secondary);
}
input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
	border-color: var(--red-600);
	color: var(--red);
}
input[type='checkbox']:focus:invalid:focus,
input[type='file']:focus:invalid:focus,
input[type='radio']:focus:invalid:focus {
	outline-color: var(--red);
}
select {
	border: var(--border);
	vertical-align: sub;
}
select:not([size]):not([multiple]) {
	height: calc(2.25rem + 2px);
}
select[multiple] {
	height: auto;
}
label {
	display: inline-block;
	line-height: 2;
}
fieldset {
	border: 0;
	margin: 0;
}
fieldset,
legend {
	padding: var(--sm-pad 0);
}
legend {
	border-bottom: var(--border);
	color: var(--text);
	display: block;
	margin-bottom: var(--sm-pad);
	width: 100%;
}
textarea {
	overflow: auto;
	resize: vertical;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	display: inline;
	padding: 0;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: var(--primary);
	border: 1px solid transparent;
	border-radius: var(--br);
	color: var(--white);
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	padding: var(--sm-pad) var(--md-pad);
	text-align: center;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
}
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	padding: 0;
}
button:hover,
button:not(:disabled):active,
input[type='button']:hover,
input[type='button']:not(:disabled):active,
input[type='reset']:hover,
input[type='reset']:not(:disabled):active,
input[type='submit']:hover,
input[type='submit']:not(:disabled):active {
	background-color: var(--primary-600);
	border-color: var(--primary-600);
	color: var(--white);
}
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
	box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5);
	outline: 0;
}
button:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--white);
	cursor: not-allowed;
	opacity: 0.65;
}
table {
	border-top: var(--border);
	margin-bottom: var(--md-pad);
}
caption {
	padding: var(--sm-pad 0);
}
thead th {
	border: 0;
	border-bottom: 2px solid var(--dividers);
	text-align: left;
}
tr {
	margin-bottom: var(--sm-pad);
}
td,
th {
	border-bottom: var(--border);
	padding: var(--md-pad);
	vertical-align: inherit;
}
tfoot tr {
	text-align: left;
}
tfoot td {
	color: var(--secondary);
	font-size: var(--sm-pad);
	font-style: italic;
	padding: var(--md-pad) var(--xs-pad);
}
nav ul {
	padding: 0;
	padding: 0 1em;
} */
